body {
  font-family: Courier New;
  font-size: 17px;
}

header h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  font-size: 17px;
  padding-right: 5px;
}

table {
  font-family: Courier New, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.form-container {
  width: auto;
  padding: 10px;
  background-color: white;
  margin: auto;
  /*border: 1px solid rgb(185, 185, 185);*/
  height: auto;
}

.operator {
  display: none;
}

/*input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/

/*input[type=submit] {
  background-color: #4CAF50;
  color: white;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px 0;
  height: 2em;
}*/

.wrapper {
  width: 50%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 20em;
  margin: 2em auto;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  position: relative;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-75 input[type="text"], input[type="password"]{
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}