body {
    overflow-x: hidden;
}

.col-sm-6 h1 {
    text-align: center;
}

#content {
    width: 70%;;
    margin: auto;
    height: 100px;
}

#post-block {
    background-color: #fff;
    border: 1px solid rgb(28, 27, 29);
    padding: 40px 50px;
}

#image_upload_button {
    position: absolute;
    bottom: 42.8%;
    right: 17.6%;
    border-radius: 4px;

}

#btn-post {
    min-width: 50%;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
  
#friend-list { 
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    background: #fff;
    list-style-type: none;
}

.friend {
    width: auto;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.friend .row {
    width: 100%;
    height: 100%;
}

.friend .col-sm-3 {
    display: flex;
    height: 100%;
    align-items: center;
}

.friend img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #AAA;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
}

.friend .name {
    font-size: 18px;
}

.friend.selected {
    background: #0a56b9;
    color: white;
}

.friend.selected img {
border-color: white;
}

.friend:not(.selected):hover {
background: #DDD;
}