{% extends "base.html" %}

{% block title %}SCOSS - Admin{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Users list</h3>
          <div class="card-tools">
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modal-create-user">Create</a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-bordered">
            <tr>
              <th>#</th>
              <th>Username</th>
              <th class="text-center" style="width: 150px;"></th>
            </tr>
            {% for user in data %}
            <tr>
              <td>{{loop.index}}</td>
              <td><a>{{ user['username'] }}</a></td>
              <td class="text-center py-0 align-middle">
                <a href="#" class="btn btn-danger btn-delete" user_id="{{user['user_id']}}"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
</div>

<div class="modal fade" id="modal-create-user" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create user</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin" method="POST" id="create-user">
            <div class="form-group row">
              <label for="username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="create-user">Create</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
	$.ajaxSetup({
	  headers: {
		'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
	  }
	});

	$(document).on("click",".btn-delete",function(){
	  user_id = $(this).attr('user_id');
	  if(confirm("Bạn chắc chắn muốn xóa chứ?")){
		$.ajax({
		  type: "DELETE",
		  contentType: 'application/json',
		  url: "/api/users/" + user_id,
		  success: function (data) {
        console.log('success')
        alert(data['info'])
        location.reload()
		  },
		  error: function (data) {
  			console.log('Error:', data['error']);
		  }
		});
	  }
	});
  })
</script>
{% endblock %}
