{% extends "base.html" %}

{% block title %}SCOSS - Contests{% endblock %}

{% block header %}
<div class="container">
	<div class="row mb-2">
		<div class="col-sm-6">
			<h1 class="m-0 text-dark">Contests</small></h1>
		</div><!-- /.col -->
		<div class="col-sm-6">
			<ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item"><a href="/contest">Contests</a></li>
			</ol>
		</div><!-- /.col -->
	</div><!-- /.row -->
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			{%if info == 'wrong'%}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
			{%endif%}
			<div class="card-header">
				<h3 class="card-title">Contest</h3>
				<div class="card-tools">
					<a href="#" class="btn btn-success" data-toggle="modal"
						data-target="#modal-create-contest">Create</a>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table class="display" id="contest-table">
					<thead>
						<tr>
							<th style="width: 4em;">#</th>
							<th>Name</th>
							<th style="text-align: center; width: 15%;">Author</th>
							<th style="text-align: center; width: 15%;">Created date</th>
							<th style="text-align: center; width: 15%;">Status</th>
							{% if session['role'] == 0 or session['user_id'] %}
							<th style="text-align: center; width: 15%;">Actions</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-create-contest" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Create contest</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/contest" class="form-horizontal" method="POST" id="create-contest-form">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="cname"><b>Contest name: </b></label>
						</div>
						<div class="col-sm-7">
							<input type="text" placeholder="Enter contest name" name="contest_name" required>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" value="Create" form="create-contest-form">Create</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
{% endblock %}

{% block js %}
<script id="token" src="{{ url_for('static', filename = 'contest.js', token=session['token']) }}"></script>
<script>
	headers = {{headers | tojson}}
	session = {{session|tojson}}
	c = $('#contest-table').DataTable({
		ajax:{
			url: "{{url}}",
			headers: headers
		},
		columns: [
			{data: null},
			{
				data: 'contest_name', 
				createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
					var contest_name = cellData
					var contest_id = rowData.contest_id
					var a = `<a href="/contests/${contest_id}/problems">${contest_name}</a>`
					$(cell).html(a);
				}
			},
			{
				data: 'username', 
				className: 'text-center'
			},
			{
				data: 'created_at', 
				className: 'text-center'
			},
			{
				data: 'contest_status', 
				className: 'text-center project-state',
				createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
					// var badge, status_label;
					switch(cellData){
						case init:
							badge = "badge-secondary"
							status_label = "init"
							break
						case waiting:
							badge = "badge-info"
							status_label = "waiting"
							break
						case running:
							badge = "badge-primary"
							status_label = "running"
							break
						case checked:
							badge = "badge-success"
							status_label = "checked"
							break
						case failed:
							badge = "badge-danger"
							status_label = "failed"
							break
					}
					var contest_status = cellData
					var contest_id = rowData.contest_id
					var span = `<span class="status badge ${badge}" value="${contest_status}">${status_label}</span>`
					$(cell).html(span);
				}
			},
			{
				data: null,
				className: 'text-center py-0 align-middle',
				createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
					var contest_id = rowData.contest_id
					var a = ''
					if (session['role'] == 0 || session['user_id'] == rowData.user_id) {
						a = `<a class="btn btn-danger btn-delete" contest_id="${contest_id}"><i
							class="fas fa-trash"></i></a>`
					}
					$(cell).html(a);
				}
			}
		],
		columnDefs: [
			{
			"searchable": false,
			"orderable": false,
			"targets": 0
			},
		],
	})

	c.on('order.dt search.dt', function () {
		c.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}).draw()
</script>
{% endblock %}