{% extends "base.html" %}

{% block title %}SCOSS{% endblock %}

{% block titlle %}SCOSS{% endblock %}

{% block content %}
<div class='card'>
  <div class="card-body">     
      <zero-md>
        <zero-md>
          <!-- Write your markdown inside a `<script type="text/markdown">` tag -->
          <script type="text/markdown">         
        # What is SCoSS?
SCoSS (Source Code Similarity System) is an automatic system for determining the similarity of source codes. The main application of SCoSS has been in detecting plagiarism in programming classes. Unlike Moss (Stanford), our system is developed focusing on the application in competitive programming contests.

# Languages
Four languages are supported including:

* C++
* Python
* Java
* PHP

The others (Pascal, Javascript, Matlab,..) are in our list of development.

# Metrics

Four Metrics are currently supported including:
{% if 'logged_in' in session %}
* CountOperator
* SetOperator
* HashOperator
* Moss
{% else %}
* (Login to see)

{% endif %}

# Usage

SCoSS is for non-commercial use. If you want to use SCoSS for academic purposes, you can send an email to [thuandp@soict.hust.edu.vn](mailto:thuandp@soict.hust.edu.vn).

# Issues

* If you have any technical issues, please report to ngocjr7@gmail.com. 
* If you have disagreed with our results, please send an email to thuandp@soict.hust.edu.vn.

# Credits
Hanoi University of Science and Technology.

</script>
</zero-md>
  </div>
</div>
{% endblock %}
