{% extends "base.html" %}

{% block title %}SCOSS - Problems{% endblock %}
	
{% block header %}
<div class="container">
  <div class="row mb-2">
    <div class="col-sm-6">
      	<h1 class="m-0 text-dark" id="contest-detail">
			
		</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/contest">Contests</a></li>
        <li class="breadcrumb-item"><a href="/contests/{{contest_id}}/problems" id="contest_name"></a></li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-9">
        <div class="card">
			{%if info == 'wrong'%}
			<div class="alert alert-danger" role="alert">
			  The problem name may already exist.
			</div>
			{%endif%}
			{%if error %}
			<div class="alert alert-danger" role="alert">
			  {{error}}
			</div>
			{%endif%}
          <div class="card-header">
			<h3 class="card-title">List problem</h3>
			<div class="card-tools">
				<form action="/contests/{{contest_id}}/from_zip" class="form-horizontal" method="POST" 
					enctype=multipart/form-data title="Select file zip to extract" style="margin: 0;">
					<div class="form-group row" style="margin:0;">
						<div class="col-sm-9">
							<input type="file" name="file">
						</div>
						<div class="col-sm-3">
							<input type="submit" class="btn btn-primary" name="fileSubmit" value="Submit" style="float:right;">						
						</div>					
					</div>		
				</form>
			</div>
          </div>
		  <!-- /.card-header -->
		  
          <div class="card-body">
            <table class="display" id="problem-table">
				<thead>
				</thead>
				<tbody>
				</tbody>
				<tr>
					<td>#</td>
					<td id="problem-name" colspan="3"><a href="#" id="create-problem" onclick="createProblem()"><b>Add new problem</b></a></td>
				</tr>
            </table>
		  </div>
          <!-- /.card-body -->
        </div>
	  </div>
	  <div class="col-md-3">
		<div class="card card-info" style="position:sticky; top: 0;">
			<div class="card-header">
				<h3 class="card-title">Run contest</h3>
			</div>
			<!-- /.card-header -->
			<form class="form-horizontal" method="POST" id="contest-run">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group row">
								<div class="custom-control custom-checkbox col-sm-8">
									<input class="custom-control-input" type="checkbox" id="count_operator_check">
									<label for="count_operator_check" class="custom-control-label"><b>CountOperator: </b></label>        
								</div>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="count_operator" name="count_operator" min="0" max="100" value="70" disabled>        
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group row">
								<div class="custom-control custom-checkbox col-sm-8">
									<input class="custom-control-input" type="checkbox" id="set_operator_check">
									<label for="set_operator_check" class="custom-control-label"><b>SetOperator: </b></label>  
								</div>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="set_operator" name="set_operator" min="0" max="100" value="70" disabled> 
								</div>
							</div>
						</div>		
					</div>
	
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group row">
								<div class="custom-control custom-checkbox col-sm-8">
									<input class="custom-control-input" type="checkbox" id="hash_operator_check">
									<label for="hash_operator_check" class="custom-control-label"><b>HashOperator: </b></label>									</div>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="hash_operator" name="hash_operator" min="0" max="100" value="70" disabled>	
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group row">
								<div class="custom-control custom-checkbox col-sm-8">
									<input class="custom-control-input" type="checkbox" id="moss_score_check">
									<label for="moss_score_check" class="custom-control-label"><b>SMOSS Metric: </b></label>        
								</div>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="moss_score" name="moss_score" min="0" max="100" value="70" disabled>
								</div>
							</div>
						</div>		
					</div>
				</div>
			</form>
			<div class="card-footer">	
				<button type="submit" class="btn btn-primary" id="run" form="contest-run">
					Run
				</button>
				<button class="btn btn-info" id="reset" dtype="contest">
					Reset
				</button>
			</div>
		</div>
	  </div>
    </div>
{% endblock %}

{% block js %}
<script>
	session = {{session|tojson}};
	url = "{{url}}"
	contest_id = '{{contest_id}}';
</script>
<script id="token" src="{{ url_for('static', filename = 'main.js', token=session['token']) }}"></script>
<script src="{{ url_for('static', filename = 'problem.js', token=session['token']) }}"></script>
{% endblock %}