<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>SCOSS</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <header><h1>SCOSS - A Source Code Similarity System</h1></header>
    <hr>
    {%if info == 'error_user'%}
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>Account already exists </p>
    </div>
    {%endif%}
    <div class="box">
      <form action="/signup" method="POST">
        <h2>Register</h2>
        <hr>
        <div class="row">
          <div class="col-25">
            <label for="username"><b>Username</b></label>
          </div>
          <div class="col-75">
            <input type="text" placeholder="Enter username" name="username" required>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="password"><b>Password</b></label>
          </div>
          <div class="col-75">
            <input type="password" placeholder="Enter password" name="password" required>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="password-repeat"><b>Role</b></label>
          </div>
          <div class="col-75">
            <input type="number" placeholder="Role" name="level" required>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="submit" style="float: right; margin-top: 6px;">
        </div>
      </form>
    </div>
    </form>
  </div>
</body>
</html>