
{% include "header.html" %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List source</h3>
                <div class="card-tools">
                    <form action="" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <input type="file" name="contestFile">
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-primary" name="fileSubmit" value="Submit" style="float:right;">						
                            </div>					
                        </div>		
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th style="width: 4em;">#</th>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td>Mid1</td>
                        <td><a href="source">Source A</a></td>
                    </tr>
                    <tr>
                        <td>Fin1</td>
                        <td><a href="#">Source B</a></td>
                    </tr>
                    <tr>
                        <td>Mid2</td>
                        <td><a href="#">Source C</a></td>
                    </tr>
                    <tr>
                        <td>Fin2</td>
                        <td><a href="#">Source D</a></td>
                    </tr>
                    <tr>
                        <td style="width: 15em;"><button href="#" id="create-problem" onclick="createProblem()">Add new problem</button></td>
                        <td id="problem-name"></td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Run contest</h3>
            </div>
            <!-- /.card-header -->
            <form class="form-horizontal">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox col-sm-6">
                                    <input class="custom-control-input" type="checkbox" id="countCheckBox">
                                    <label for="countCheckBox" class="custom-control-label"><b>CountOperator: </b></label>        
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="countOperator" name="countOperator" min="1" max="100" value="0" disabled>        
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox col-sm-6">
                                    <input class="custom-control-input" type="checkbox" id="setCheckBox">
                                    <label for="setCheckBox" class="custom-control-label"><b>SetOperator: </b></label>  
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="setOperator" name="setOperator" min="1" max="100" value="0" disabled> 
                                </div>
                            </div>
                        </div>		
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox col-sm-6">
                                    <input class="custom-control-input" type="checkbox" id="hashCheckBox">
                                    <label for="hashCheckBox" class="custom-control-label"><b>HashOperator: </b></label>									</div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="hashOperator" name="hashOperator" min="1" max="100" value="0" disabled>	
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox col-sm-6">
                                    <input class="custom-control-input" type="checkbox" id="tokenCheckBox">
                                    <label for="tokenCheckBox" class="custom-control-label"><b>TokenBasedMetric: </b></label>        
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="tokenBasedMetric" name="tokenBasedMetric" min="1" max="100" value="0" disabled>
                                </div>
                            </div>
                        </div>		
                    </div>
                </div>
                <div class="card-footer">	
                    <input type="submit" class="btn btn-primary" name="run" value="Run">
                </div>
            </form>
        </div>	
    </div>
</div>

<script type="text/javascript">
    document.getElementById('countCheckBox').onchange = function() {
        document.getElementById('countOperator').disabled = !this.checked;
    };

    document.getElementById('setCheckBox').onchange = function() {
        document.getElementById('setOperator').disabled = !this.checked;
    };

    document.getElementById('hashCheckBox').onchange = function() {
        document.getElementById('hashOperator').disabled = !this.checked;
    };

    document.getElementById('tokenCheckBox').onchange = function() {
        document.getElementById('tokenBasedMetric').disabled = !this.checked;
    };

    function createProblem() {
        const form = document.createElement('form')
        const input = document.createElement('input')
        const submit = document.createElement('input')
        const row = document.createElement('div')
        const col10 = document.createElement('div')
        const col2 = document.createElement('div')

        form.method = "POST"
        form.action = "/problem?contest_name={{contest_name}}"
        form.className = "form-horizontal"

        row.className = "form-group row"
        col10.className = "col-sm-10"
        col2.className = "col-sm-2"

        input.className = "form-control"
        input.name = "problem_name"

        submit.type = 'submit'
        submit.className = 'btn btn-primary'
        submit.name = 'submit'
        submit.value = 'Submit'

        col10.appendChild(input)
        col2.appendChild(submit)

        row.appendChild(col10)
        row.appendChild(col2)

        form.appendChild(row)
        document.getElementById('problem-name').appendChild(form)
        document.getElementById('create-problem').disabled = true
    }
</script>

{% include "footer.html" %}