{%include ('header.html', author)%}

    <hr>
    <h2>Problem</h2>
   
    <table>
      <tr>
        <th style="width: 4em;">#</th>
        <th>Name</th>
      </tr>
      <tr>
        <td>Mid1</td>
        <td><a href="#">a.cpp</a></td>
      </tr>
      <tr>
        <td>Fin1</td>
        <td><a href="#">b.java</a></td>
      </tr>
      <tr>
        <td>Mid2</td>
        <td><a href="#">c.py</a></td>
      </tr>
      <tr>
        <td>Fin2</td>
        <td><a href="#">d.c</a></td>
      </tr>
    </table>

    <br>
    <form class="form-container">
        <label for="file"><b>Add source from zip: </b></label>
        <input type="file" name="file">
        <input type="submit" name="fileSubmit" value="Submit">
    </form>

    
    <h2>Metrics</h2>
    <p>Bellow are some metrics you must enter to run the test. Description of the metric can be found at document.</p>
    <form class="form-container" action="result.html">

        <div class="row">
            <div class="col-25">
                <input type="checkbox" id="countCheckBox">
                <label for="countOperator"><b>CountOperator: </b></label>        
            </div>
            <div class="col-75">
                <input type="number" id="countOperator" name="countOperator" min="1" max="100" disabled>        
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <input type="checkbox" id="setCheckBox">
                <label for="setOperator"><b>SetOperator: </b></label>        
            </div>
            <div class="col-75">
                <input type="number" id="setOperator" name="setOperator" min="1" max="100" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <input type="checkbox" id="hashCheckBox">
                <label for="hashOperator"><b>HashOperator: </b></label>        
            </div>
            <div class="col-75">
                <input type="number" id="hashOperator" name="hashOperator" min="1" max="100" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <input type="checkbox" id="tokenCheckBox">
                <label for="tokenBasedMetric"><b>TokenBasedMetric: </b></label>        
            </div>
            <div class="col-75">
                <input type="number" id="tokenBasedMetric" name="tokenBasedMetric" min="1" max="100" disabled>
            </div>
        </div>
        <div class="row">
            <input type="submit" name="run" value="Run">
        </div>
    </form>

    <script type="text/javascript">
        document.getElementById('countCheckBox').onchange = function() {
            document.getElementById('countOperator').disabled = !this.checked;
        };

        document.getElementById('setCheckBox').onchange = function() {
            document.getElementById('setOperator').disabled = !this.checked;
        };

        document.getElementById('hashCheckBox').onchange = function() {
            document.getElementById('hashOperator').disabled = !this.checked;
        };

        document.getElementById('tokenCheckBox').onchange = function() {
            document.getElementById('tokenBasedMetric').disabled = !this.checked;
        };
    </script>

</body>
</html>